body {
  margin: 0;


}




.flexbox-container{
  display: flex;
  margin-right: .5em;
  min-width: 400px;
  flex-grow: 1; /* fill up the whole space*/
  justify-content: flex-start;


}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.editor-title{
  display: flex;
  justify-content: space-between;

 
  background-color: hsl(255, 6%, 13%);
color: white;
padding: .5rem .5rem .5rem 1rem;
/* Adding the curved effect */
border-top-right-radius: .5rem;
border-top-left-radius: .5rem;

}


.editor-container{
  flex-grow: 1; /* fill up the whole space*/
  flex-basis: 0; /*all are same size*/ 
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  padding: .5rem;
  background-color: hsl(255, 6%, 25%);

}

.output-container{
  flex-basis: 0;
/* fill up the whole space*/
height:90vh;
width:60vh;

  flex-basis: 0; /*all are same size*/ 
  display: flex;
  flex-shrink: 0;

  flex-direction: column;
  padding: .5rem;
  background-color: white;


}